Repository National-Digital-Twin/ospo-resources, changes with the labels that .github/labeler.yml gives for each.
All labels: actions, documentation

feat(tools): add conventional commits regex validation
  .github/workflows/ci.yml
  .github/workflows/publish-github-release.yml
  .gitignore
  CHANGELOG.md
  sonar-project.properties
  tools/conventional-commits/respoitory-ruleset/README.md
  tools/conventional-commits/respoitory-ruleset/conventional-commit.json
  tools/conventional-commits/respoitory-ruleset/requirements.txt
  tools/conventional-commits/respoitory-ruleset/test_commit_regex.py
Labels: actions, documentation

feat(tools): add conventional commits regex validation (#106)
  .github/workflows/ci.yml
  .github/workflows/publish-github-release.yml
  .gitignore
  CHANGELOG.md
  sonar-project.properties
  tools/conventional-commits/respoitory-ruleset/README.md
  tools/conventional-commits/respoitory-ruleset/conventional-commit.json
  tools/conventional-commits/respoitory-ruleset/requirements.txt
  tools/conventional-commits/respoitory-ruleset/test_commit_regex.py
Labels: actions, documentation

feat(demo): add release-please workflow to demo use of conventional commits
  .github/workflows/release-please-demo.yml
  release-please-config.json
Labels: actions

feat(demo): add release-please workflow to demo use of conventional commits
  .github/workflows/release-please-demo.yml
  release-please-config.json
Labels: actions

feat(demo): add release-please workflow to demo use of conventional commits
  .github/workflows/release-please-demo.yml
  .release-please-manifest.json
  demo/generate-commits.sh
  release-please-config.json
Labels: actions

ci(security): add advanced CodeQL analysis workflow
  .github/dependabot.yml
  .github/workflows/ci.yml
  .github/workflows/codeql.yml
  CHANGELOG.md
  tools/conventional-commits/respository-ruleset/README.md
  tools/conventional-commits/respository-ruleset/conventional-commit.json
  tools/conventional-commits/respository-ruleset/requirements.txt
  tools/conventional-commits/respository-ruleset/test_commit_regex.py
Labels: actions, documentation

ci(security): add advanced CodeQL analysis workflow (#113)
  .github/dependabot.yml
  .github/workflows/ci.yml
  .github/workflows/codeql.yml
  CHANGELOG.md
  tools/conventional-commits/respository-ruleset/README.md
  tools/conventional-commits/respository-ruleset/conventional-commit.json
  tools/conventional-commits/respository-ruleset/requirements.txt
  tools/conventional-commits/respository-ruleset/test_commit_regex.py
Labels: actions, documentation

ci(OSPO): update permissions on workflows based on CodeQL recommendations
  .github/workflows/gitflow-pr-target-check.yml
  .github/workflows/synchronise-ospo-workflows.yml
  CHANGELOG.md
Labels: actions, documentation

ci(OSPO): update permissions on workflows based on CodeQL recommendations (#118)
  .github/workflows/gitflow-pr-target-check.yml
  .github/workflows/synchronise-ospo-workflows.yml
  CHANGELOG.md
Labels: actions, documentation

ci(OSPO): add workflow to sync main branch to develop on PR merge into main
  .github/workflows/sync-main-to-develop.yml
  CHANGELOG.md
Labels: actions, documentation

ci(OSPO): add workflow to sync main branch to develop on PR merge into main
  .github/workflows/publish-github-release.yml
  .github/workflows/sync-main-to-develop.yml
  CHANGELOG.md
  organisation-required-workflows.txt
Labels: actions, documentation

ci(OSPO): add workflow to sync main branch to develop on PR merge into main (#119)
  .github/workflows/auto-back-merge.yml
  .github/workflows/publish-github-release.yml
  CHANGELOG.md
  organisation-required-workflows.txt
Labels: actions, documentation

test(OSPO): increase sbom-aggregation script test coverage
  .github/workflows/ci.yml
  CHANGELOG.md
  sonar-project.properties
  tools/sbom-aggregation/.coveragerc
  tools/sbom-aggregation/README.md
  tools/sbom-aggregation/merge_sboms.py
  tools/sbom-aggregation/requirements.txt
  tools/sbom-aggregation/test_merge_sboms.py
Labels: actions, documentation

test(OSPO): increase sbom-aggregation script test coverage (#125)
  .github/workflows/ci.yml
  CHANGELOG.md
  sonar-project.properties
  tools/sbom-aggregation/.coveragerc
  tools/sbom-aggregation/README.md
  tools/sbom-aggregation/merge_sboms.py
  tools/sbom-aggregation/requirements.txt
  tools/sbom-aggregation/test_merge_sboms.py
Labels: actions, documentation

chore(dependabot): add sbom-aggregation directory to dependabot pip config
  .github/dependabot.yml
  CHANGELOG.md
Labels: documentation

refactor(shell): address sonarcloud issues in dependabot-configuration-helper.sh
  CHANGELOG.md
  tools/dependabot-configuration-helper/dependabot-configuration-helper.sh
Labels: documentation

refactor(shell): address sonarcloud issues in dependabot-configuration-helper.sh (#127)
  .github/dependabot.yml
  CHANGELOG.md
  tools/dependabot-configuration-helper/dependabot-configuration-helper.sh
Labels: documentation

ci(oss-checker): improve Conftest installation with fallback version handling
  .github/workflows/oss-checker.yml
  CHANGELOG.md
Labels: actions, documentation

ci(oss-checker): improve Conftest installation with fallback version handling (#133)
  .github/workflows/oss-checker.yml
  CHANGELOG.md
Labels: actions, documentation

fix(OSPO): update conftest installation method, preventing README.md overwrite and move back to deb install
  .github/workflows/auto-back-merge.yml
  .github/workflows/oss-checker.yml
  CHANGELOG.md
Labels: actions, documentation

fix(OSPO): update conftest installation method, preventing README.md overwrite and move back to deb install (#135)
  .github/workflows/auto-back-merge.yml
  .github/workflows/oss-checker.yml
  CHANGELOG.md
Labels: actions, documentation

Update NDTP contact email in MAINTAINERS.md
  MAINTAINERS.md
Labels: documentation

fix(OSPO): update pytest version to 9.0.3
  tools/sbom-aggregation/requirements.txt
Labels: none

build(deps): patch latest GH actions and python libs
  .github/workflows/auto-back-merge.yml
  .github/workflows/ci.yml
  .github/workflows/codeql.yml
  .github/workflows/oss-checker.yml
  .github/workflows/publish-github-release.yml
  .github/workflows/pull-request-labeler.yml
  .github/workflows/synchronise-ospo-workflows.yml
  tools/sbom-aggregation/requirements.txt
Labels: actions

fix(OSPO): update CHANGELOG.md
  CHANGELOG.md
  tools/conventional-commits/respository-ruleset/requirements.txt
Labels: documentation

fix(OSPO): sonar fixes for pip install
  .github/workflows/ci.yml
  tools/conventional-commits/respository-ruleset/README.md
Labels: actions, documentation

fix(OSPO): require pip hashes
  .github/workflows/ci.yml
  tools/conventional-commits/respository-ruleset/README.md
Labels: actions, documentation

fix(OSPO): revert pip hash requirement
  .github/workflows/ci.yml
  tools/conventional-commits/respository-ruleset/README.md
Labels: actions, documentation

fix(OSPO): pin python deps
  .github/workflows/ci.yml
  tools/conventional-commits/respository-ruleset/README.md
  tools/conventional-commits/respository-ruleset/requirements.in
  tools/conventional-commits/respository-ruleset/requirements.txt
  tools/sbom-aggregation/.github/workflows/sbom-aggregation.yml
  tools/sbom-aggregation/requirements.in
  tools/sbom-aggregation/requirements.txt
Labels: actions, documentation

build(deps): patch latest GH actions and python libs (#146)
  .github/workflows/auto-back-merge.yml
  .github/workflows/ci.yml
  .github/workflows/codeql.yml
  .github/workflows/oss-checker.yml
  .github/workflows/publish-github-release.yml
  .github/workflows/pull-request-labeler.yml
  .github/workflows/synchronise-ospo-workflows.yml
  CHANGELOG.md
  tools/conventional-commits/respository-ruleset/README.md
  tools/conventional-commits/respository-ruleset/requirements.in
  tools/conventional-commits/respository-ruleset/requirements.txt
  tools/sbom-aggregation/.github/workflows/sbom-aggregation.yml
  tools/sbom-aggregation/requirements.in
  tools/sbom-aggregation/requirements.txt
Labels: actions, documentation

fix(OSPO): skip sonar scans if dependabot PR raised
  .github/workflows/ci.yml
  CHANGELOG.md
Labels: actions, documentation

fix(OSPO): skip sonar scans if dependabot PR raised (#152)
  .github/workflows/ci.yml
  CHANGELOG.md
Labels: actions, documentation

feat(OSPO): group dependabot updates
  .github/dependabot.yml
Labels: none

feat(OSPO): update CHANGELOG.md
  CHANGELOG.md
Labels: documentation

feat(OSPO): add dependabot grouping (#161)
  .github/dependabot.yml
  CHANGELOG.md
Labels: documentation

build(deps): patch github actions
  CHANGELOG.md
Labels: documentation

build(deps): patch github actions (#164)
  CHANGELOG.md
Labels: documentation

chore: update changelog for GitHub Actions version updates
  CHANGELOG.md
Labels: documentation

chore: update changelog for GitHub Actions version updates (#169)
  CHANGELOG.md
Labels: documentation

fix(ci): enforce HTTPS on curl redirects and block pip sdist execution
  .github/workflows/publish-github-release.yml
  CHANGELOG.md
  tools/sbom-aggregation/.github/workflows/sbom-aggregation.yml
Labels: actions, documentation

.github/labeler.yml:

# SPDX-License-Identifier: Apache-2.0
# Â© Crown Copyright 2025. This work has been developed by the National Digital Twin Programme and is legally attributed to the Department for Business and Trade (UK) as the governing entity.

actions:
  - changed-files:
    - any-glob-to-any-file:
      - '.github/workflows/*.yml'

documentation:
  - changed-files:
    - any-glob-to-any-file:
      - '*.md'
      - '**/*.md'
      - docs/*
      - docs/**

feature:
  - head-branch: ['^feature', 'feature']

fix:
  - head-branch: ['^bugfix', 'bugfix']

hotfix:
  - head-branch: ['^hotfix', 'hotfix']

release:
  - base-branch: 'main'
