Repository National-Digital-Twin/ospo-resources, changes with the labels that .github/labeler.yml gives for each.
All labels: actions, documentation

fix(OSPO): maintainer file updates and GitHub Actions patching
  .github/workflows/oss-checker.yml
  .github/workflows/publish-github-release.yml
  CODE_OF_CONDUCT.md
  README.md
  SECURITY.md
Labels: actions, documentation

docs(OSPO): update CHANGELOG.md
  CHANGELOG.md
Labels: documentation

fix(OSPO): maintainer file updates and GitHub Actions patching (#45)
  .github/workflows/oss-checker.yml
  .github/workflows/publish-github-release.yml
  CHANGELOG.md
  CODE_OF_CONDUCT.md
  README.md
  SECURITY.md
Labels: actions, documentation

fix(OSPO): correct upload artifact version
  .github/workflows/publish-github-release.yml
Labels: actions

fix(OSPO): correct upload artifact version
  .github/workflows/publish-github-release.yml
Labels: actions

feat(OSPO): add sbom aggregation tool
  CHANGELOG.md
  MAINTAINERS.md
  README.md
  tools/dependabot-configuration-helper/README.md
  tools/sbom-aggregation/.github/workflows/sbom-aggregation.yml
  tools/sbom-aggregation/.gitignore
  tools/sbom-aggregation/README.md
  tools/sbom-aggregation/groups.yml
  tools/sbom-aggregation/merge_sboms.py
  tools/sbom-aggregation/requirements.txt
Labels: documentation

fix(OSPO): minor documentation update
  README.md
  tools/dependabot-configuration-helper/README.md
  tools/sbom-aggregation/README.md
Labels: documentation

fix(OSPO): minor grammar fix in README.md
  README.md
Labels: documentation

fix(OSPO): bump checkout action to v5
  tools/sbom-aggregation/.github/workflows/sbom-aggregation.yml
Labels: none

fix(OSPO): fix relative links to OGL_LICENSE.md
  ACKNOWLEDGEMENTS.md
  CHANGELOG.md
  CODE_OF_CONDUCT.md
  CONTRIBUTING.md
  MAINTAINERS.md
  NOTICE.md
  README.md
  SECURITY.md
  oss-checklist-files.txt
  tools/dependabot-configuration-helper/README.md
  tools/sbom-aggregation/README.md
Labels: documentation

fix(OSPO): relative link fix
  tools/sbom-aggregation/README.md
Labels: documentation

fix(OSPO): update README.md with synchronisation solution feature
  CHANGELOG.md
  README.md
Labels: documentation

fix(OSPO): fix relative link in sbom-aggregation README.md
  tools/sbom-aggregation/README.md
Labels: documentation

fix(OSPO): use fixed link for README.md
  tools/sbom-aggregation/README.md
Labels: documentation

feature(OSPO): add SBOM aggregation solution (#48)
  ACKNOWLEDGEMENTS.md
  CHANGELOG.md
  CODE_OF_CONDUCT.md
  CONTRIBUTING.md
  MAINTAINERS.md
  NOTICE.md
  README.md
  SECURITY.md
  oss-checklist-files.txt
  tools/dependabot-configuration-helper/README.md
  tools/sbom-aggregation/.github/workflows/sbom-aggregation.yml
  tools/sbom-aggregation/.gitignore
  tools/sbom-aggregation/README.md
  tools/sbom-aggregation/groups.yml
  tools/sbom-aggregation/merge_sboms.py
  tools/sbom-aggregation/requirements.txt
Labels: documentation

feature(OSPO): add SBOM aggregation solution (#48)
  ACKNOWLEDGEMENTS.md
  CHANGELOG.md
  CODE_OF_CONDUCT.md
  CONTRIBUTING.md
  MAINTAINERS.md
  NOTICE.md
  README.md
  SECURITY.md
  oss-checklist-files.txt
  tools/dependabot-configuration-helper/README.md
  tools/sbom-aggregation/.github/workflows/sbom-aggregation.yml
  tools/sbom-aggregation/.gitignore
  tools/sbom-aggregation/README.md
  tools/sbom-aggregation/groups.yml
  tools/sbom-aggregation/merge_sboms.py
  tools/sbom-aggregation/requirements.txt
Labels: documentation

feat(OSPO-78): add OSS credential scanning tool
  tools/credential-scanning/.githooks/pre-commit
  tools/credential-scanning/Makefile
  tools/credential-scanning/README.md
  tools/credential-scanning/credential-scan.yml
Labels: documentation

fix(OSPO-78): add credential scanning entry to changelog
  CHANGELOG.md
Labels: documentation

fix(OSPO-78): minor README.md update
  tools/credential-scanning/README.md
Labels: documentation

feat(OSPO-78): add OSS credential scanning solution (#53)
  CHANGELOG.md
  tools/credential-scanning/.githooks/pre-commit
  tools/credential-scanning/Makefile
  tools/credential-scanning/README.md
  tools/credential-scanning/credential-scan.yml
Labels: documentation

feat(OSPO): documentation update for credential scanner
  tools/credential-scanning/Makefile
  tools/credential-scanning/README.md
Labels: documentation

feat(OSPO): update README.md content for sbom-aggregation
  tools/sbom-aggregation/README.md
Labels: documentation

feat(OSPO): update credential scan README.md (#58)
  tools/credential-scanning/Makefile
  tools/credential-scanning/README.md
  tools/sbom-aggregation/README.md
Labels: documentation

fix(OSPO): update github action versions
  .github/workflows/publish-github-release.yml
  tools/sbom-aggregation/.github/workflows/sbom-aggregation.yml
Labels: actions

feat(OSPO-78): add OSS credential scanning solution
  .github/workflows/publish-github-release.yml
  .github/workflows/synchronise-ospo-workflows.yml
  CHANGELOG.md
  tools/credential-scanning/.githooks/pre-commit
  tools/credential-scanning/Makefile
  tools/credential-scanning/README.md
  tools/credential-scanning/credential-scan.yml
  tools/sbom-aggregation/.github/workflows/sbom-aggregation.yml
  tools/sbom-aggregation/README.md
Labels: actions, documentation

feat(OSPO): patch github actions
  .github/workflows/oss-checker.yml
  .github/workflows/publish-github-release.yml
  .github/workflows/pull-request-labeler.yml
  .github/workflows/synchronise-ospo-workflows.yml
  tools/credential-scanning/credential-scan.yml
  tools/sbom-aggregation/.github/workflows/sbom-aggregation.yml
Labels: actions

fix(OSPO): update CHANGELOG.md for GH actions patching
  CHANGELOG.md
Labels: documentation

feat(OSPO): patch GitHub Actions (#60)
  .github/workflows/oss-checker.yml
  .github/workflows/publish-github-release.yml
  .github/workflows/pull-request-labeler.yml
  .github/workflows/synchronise-ospo-workflows.yml
  CHANGELOG.md
  tools/credential-scanning/credential-scan.yml
  tools/sbom-aggregation/.github/workflows/sbom-aggregation.yml
Labels: actions, documentation

fix(OSPO): patch upload-artifact version
  .github/workflows/publish-github-release.yml
Labels: actions

fix(OSPO): patch GitHub actions
  .github/workflows/oss-checker.yml
  .github/workflows/publish-github-release.yml
  .github/workflows/pull-request-labeler.yml
  .github/workflows/synchronise-ospo-workflows.yml
  CHANGELOG.md
  tools/credential-scanning/credential-scan.yml
  tools/sbom-aggregation/.github/workflows/sbom-aggregation.yml
Labels: actions, documentation

feat(OSPO): enable OSS checker conditionally for private repositories
  .github/workflows/oss-checker.yml
  CHANGELOG.md
Labels: actions, documentation

feat(OSPO): enable OSS checker conditionally for private repositories (#62)
  .github/workflows/oss-checker.yml
  CHANGELOG.md
Labels: actions, documentation

fix(OSPO) ensure oss checker runs when repo is public (pull_request)
  .github/workflows/oss-checker.yml
Labels: actions

fix(OSPO) ensure oss checker runs when repo is public (pull_request) (#64)
  .github/workflows/oss-checker.yml
Labels: actions

Promote release 0.95.0 to main (#63)
  .github/workflows/oss-checker.yml
  CHANGELOG.md
Labels: actions, documentation

refactor(OSPO): refactor oss-checker logic to use action/github-script
  .github/workflows/oss-checker.yml
Labels: actions

feat(OSPO): enhance oss checks with detailed reporting and summary generation
  .github/workflows/oss-checker.yml
Labels: actions

feat(OSPO): add pull request comment summarising oss-checker results
  .github/workflows/oss-checker.yml
Labels: actions

feat(OSPO): upload artifact containing oss-checker results
  .github/workflows/oss-checker.yml
Labels: actions

chore(OSPO): update changelog for version 0.96.0
  CHANGELOG.md
Labels: documentation

.github/labeler.yml:

# SPDX-License-Identifier: Apache-2.0
# Â© Crown Copyright 2025. This work has been developed by the National Digital Twin Programme and is legally attributed to the Department for Business and Trade (UK) as the governing entity.

actions:
  - changed-files:
    - any-glob-to-any-file:
      - '.github/workflows/*.yml'

documentation:
  - changed-files:
    - any-glob-to-any-file:
      - '*.md'
      - '**/*.md'
      - docs/*
      - docs/**

feature:
  - head-branch: ['^feature', 'feature']

fix:
  - head-branch: ['^bugfix', 'bugfix']

hotfix:
  - head-branch: ['^hotfix', 'hotfix']

release:
  - base-branch: 'main'
