Repository National-Digital-Twin/ospo-resources, changes with the labels that .github/labeler.yml gives for each.
All labels: actions, documentation

.github/labeler.yml:

# SPDX-License-Identifier: Apache-2.0
# Â© Crown Copyright 2025. This work has been developed by the National Digital Twin Programme and is legally attributed to the Department for Business and Trade (UK) as the governing entity.

actions:
  - changed-files:
    - any-glob-to-any-file:
      - '.github/workflows/*.yml'

documentation:
  - changed-files:
    - any-glob-to-any-file:
      - '*.md'
      - '**/*.md'
      - docs/*
      - docs/**

feature:
  - head-branch: ['^feature', 'feature']

fix:
  - head-branch: ['^bugfix', 'bugfix']

hotfix:
  - head-branch: ['^hotfix', 'hotfix']

release:
  - base-branch: 'main'

feat(OSPO): enhance oss-checker developer experience and visibility (#65)
  .github/workflows/oss-checker.yml
  CHANGELOG.md
Labels: actions, documentation

feat(OSPO): enhance oss-checker developer experience and visibility (#65)
  .github/workflows/oss-checker.yml
  CHANGELOG.md
Labels: actions, documentation

feat(OSPO): changelog update
  CHANGELOG.md
Labels: documentation

feat(OSPO): patch GitHub actions
  CHANGELOG.md
Labels: documentation

Refactor GitHub workflows to improve environment variable usage and permissions.
  .github/workflows/gitflow-pr-target-check.yml
  .github/workflows/oss-checker.yml
  .github/workflows/publish-github-release.yml
  .github/workflows/synchronise-ospo-workflows.yml
  tools/credential-scanning/credential-scan.yml
Labels: actions

Refactor GitHub workflows to improve environment variable usage and permissions.
  CHANGELOG.md
Labels: documentation

refactor(OSPO): improve workflow environment variable usage and permissions (#71)
  .github/workflows/gitflow-pr-target-check.yml
  .github/workflows/oss-checker.yml
  .github/workflows/publish-github-release.yml
  .github/workflows/synchronise-ospo-workflows.yml
  CHANGELOG.md
  tools/credential-scanning/credential-scan.yml
Labels: actions, documentation

feat(OSPO): add policy as code definitions and CI workflows for Dependabot target branch enforcement
  .editorconfig
  .github/dependabot.yml
  .github/workflows/ci.yml
  .github/workflows/oss-checker.yml
  .gitignore
  ACKNOWLEDGEMENTS.md
  CHANGELOG.md
  tools/policy-as-code/.regal.yaml
  tools/policy-as-code/README.md
  tools/policy-as-code/policy/github/dependabot/dependabot.rego
  tools/policy-as-code/policy/github/dependabot/dependabot_test.rego
Labels: actions, documentation

feat(OSPO): add policy as code definitions and CI workflows for Dependabot target branch enforcement (#73)
  .editorconfig
  .github/dependabot.yml
  .github/workflows/ci.yml
  .github/workflows/oss-checker.yml
  .gitignore
  ACKNOWLEDGEMENTS.md
  CHANGELOG.md
  tools/policy-as-code/.regal.yaml
  tools/policy-as-code/README.md
  tools/policy-as-code/policy/github/dependabot/dependabot.rego
  tools/policy-as-code/policy/github/dependabot/dependabot_test.rego
Labels: actions, documentation

fix(OSPO): update Conftest installation to use HTTPS for security
  .github/workflows/oss-checker.yml
Labels: actions

fix(OSPO): update Conftest installation to use HTTPS for security (#75)
  .github/workflows/oss-checker.yml
Labels: actions

fix(OSPO): pin GH action SHAs
  .github/workflows/ci.yml
  .github/workflows/oss-checker.yml
  .github/workflows/publish-github-release.yml
  .github/workflows/pull-request-labeler.yml
  .github/workflows/synchronise-ospo-workflows.yml
Labels: actions

bugfix(OSPO): update CHANGELOG.md
  CHANGELOG.md
Labels: documentation

fix(OSPO): move GH action pinning to release 0.97.0 changelog entry
  CHANGELOG.md
Labels: documentation

fix(OSPO): pin GH action SHAs (#76)
  .github/workflows/ci.yml
  .github/workflows/oss-checker.yml
  .github/workflows/publish-github-release.yml
  .github/workflows/pull-request-labeler.yml
  .github/workflows/synchronise-ospo-workflows.yml
  CHANGELOG.md
Labels: actions, documentation

ci(OSPO): ensure sonarqube-scan always runs in ci workflows.
  .github/workflows/ci.yml
  sonar-project.properties
Labels: actions

ci(OSPO): ensure sonarqube-scan always runs in ci workflows. (#77)
  .github/workflows/ci.yml
  sonar-project.properties
Labels: actions

chore(OSPO): update changelog for release 0.97.1
  CHANGELOG.md
Labels: documentation

chore(OSPO): update changelog for release 0.97.1 (#82)
  CHANGELOG.md
Labels: documentation

ci(OSPO): test sonar configuration
  .github/workflows/ci.yml
  sonar-project.properties
Labels: actions

ci(OSPO): address sonar configuration issues
  .github/workflows/ci.yml
  sonar-project.properties
  tools/policy-as-code/README.md
Labels: actions, documentation

ci(OSPO): address sonar configuration issues (#86)
  .github/workflows/ci.yml
  sonar-project.properties
  tools/policy-as-code/README.md
Labels: actions, documentation

build(OSPO): allow merging sync branches into develop to support forks (#87)
  .github/workflows/gitflow-pr-target-check.yml
  CHANGELOG.md
Labels: actions, documentation

fix(OSPO): fix sonar scanning issues (#87)
  .github/workflows/ci.yml
  sonar-project.properties
Labels: actions

fix(OSPO): add missing if statement to oss-checker (#87)
  .github/workflows/oss-checker.yml
  CHANGELOG.md
Labels: actions, documentation

fix(OSPO): update credential scan action
  CHANGELOG.md
  tools/credential-scanning/README.md
  tools/credential-scanning/credential-scan.yml
Labels: documentation

fix(OSPO): fix link formatting for test keys in README
  tools/credential-scanning/README.md
Labels: documentation

fix(OSPO): clarify exclusions file usage in README
  tools/credential-scanning/README.md
Labels: documentation

fix(OSPO): ping GH action for sbom aggregation
  tools/sbom-aggregation/.github/workflows/sbom-aggregation.yml
Labels: none

fix(OSPO): pin credential scanning GH action
  tools/credential-scanning/credential-scan.yml
Labels: none

fix(OSPO): update dependabot config
  .github/dependabot.yml
Labels: none

fix(OSPO): fix formatting
  CHANGELOG.md
Labels: documentation

fix(OSPO): update credential scan action (#88)
  .github/dependabot.yml
  CHANGELOG.md
  tools/credential-scanning/README.md
  tools/credential-scanning/credential-scan.yml
  tools/sbom-aggregation/.github/workflows/sbom-aggregation.yml
Labels: documentation

chore(OSPO): update changelog for release 0.97.3
  CHANGELOG.md
Labels: documentation

chore(OSPO): update changelog for release 0.97.3 (#92)
  CHANGELOG.md
Labels: documentation

fix(OSPO): update workflows to support hotfix and prevent ospo sync on PR's targetting main
  .github/workflows/gitflow-pr-target-check.yml
  .github/workflows/publish-github-release.yml
  .github/workflows/synchronise-ospo-workflows.yml
  CHANGELOG.md
Labels: actions, documentation

fix(OSPO): update workflows to support hotfix and prevent ospo sync on PR's targetting main (#97)
  .github/workflows/gitflow-pr-target-check.yml
  .github/workflows/publish-github-release.yml
  .github/workflows/synchronise-ospo-workflows.yml
  CHANGELOG.md
Labels: actions, documentation

feat(OSPO): implement opt-in workflows for forked repository synchronisation
  .github/workflows/gitflow-pr-target-check.yml
  .github/workflows/synchronise-ospo-workflows.yml
  CHANGELOG.md
  organisation-required-workflows-forks.txt
  tools/fork-support/.github/workflows/fork-intermediate-merge.yml
  tools/fork-support/.github/workflows/fork-intermediate-sync.yml
  tools/fork-support/.github/workflows/fork-upstream-sync-pr.yml
  tools/fork-support/.github/workflows/fork-upstream-sync.yml
  tools/fork-support/README.md
Labels: actions, documentation

feat(OSPO): implement opt-in workflows for forked repository synchronisation
  .github/workflows/gitflow-pr-target-check.yml
  .github/workflows/synchronise-ospo-workflows.yml
  ACKNOWLEDGEMENTS.md
  CHANGELOG.md
  MAINTAINERS.md
  organisation-required-workflows-forks.txt
  tools/fork-support/.github/workflows/fork-intermediate-merge.yml
  tools/fork-support/.github/workflows/fork-intermediate-sync.yml
  tools/fork-support/.github/workflows/fork-upstream-sync-pr.yml
  tools/fork-support/.github/workflows/fork-upstream-sync.yml
  tools/fork-support/README.md
Labels: actions, documentation

feat(OSPO): implement opt-in workflows for forked repository synchronisation (#96)
  .github/workflows/gitflow-pr-target-check.yml
  .github/workflows/synchronise-ospo-workflows.yml
  ACKNOWLEDGEMENTS.md
  CHANGELOG.md
  MAINTAINERS.md
  organisation-required-workflows-forks.txt
  tools/fork-support/.github/workflows/fork-intermediate-merge.yml
  tools/fork-support/.github/workflows/fork-intermediate-sync.yml
  tools/fork-support/.github/workflows/fork-upstream-sync-pr.yml
  tools/fork-support/.github/workflows/fork-upstream-sync.yml
  tools/fork-support/README.md
Labels: actions, documentation
